In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create an Array to store given column names
colNames = ["age", "emp_type", "number", "education", "ed_num", "marital_status", "occupation", "relationship", "race", "gender", "capital_gain","capital_loss","hours_per_week", "native_country", "income"]

# Create teh Dataframe
populationDF = pd.read_csv('population.csv', names=colNames)

Begin Data clean up

In [3]:
# Print the columns
print(populationDF.columns)

# Print the number of rows and columns
print (populationDF.shape)

# explore the data and change any string categorical type fields to numbers
print (populationDF.head)
print (populationDF.dtypes)

Index(['age', 'emp_type', 'number', 'education', 'ed_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income'],
      dtype='object')
(32561, 15)
<bound method NDFrame.head of        age           emp_type  number    education  ed_num  \
0       39          State-gov   77516    Bachelors      13
1       50   Self-emp-not-inc   83311    Bachelors      13
2       38            Private  215646      HS-grad       9
3       53            Private  234721         11th       7
4       28            Private  338409    Bachelors      13
...    ...                ...     ...          ...     ...
32556   27            Private  257302   Assoc-acdm      12
32557   40            Private  154374      HS-grad       9
32558   58            Private  151910      HS-grad       9
32559   22            Private  201490      HS-grad       9
32560   52       Self-emp-inc  287927      HS-grad       9

            marital_status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

        gender  capital_gain  capital_loss  hours_per_week  native_country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]>
age                int64
emp_type          object
number             int64
education         object
ed_num             int64
marital_status    object
occupation        object
relationship      object
race              object
gender            object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [4]:
# Explicitly Check for NaN data in original data before manipualtion
populationDF.isnull().sum()

age               0
emp_type          0
number            0
education         0
ed_num            0
marital_status    0
occupation        0
relationship      0
race              0
gender            0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [5]:
# based of what i am seeing, i am saying that
# "emp_type", "marital_status", "occupation", relationship, race, gender, income, and native country can be recategorized
# i am skipping education because it has already been classified as a number in ed_num    

# List the unique values 
print ('emp type: ')  
print (populationDF["emp_type"].unique())
print ('marital_status: ')
print (populationDF["marital_status"].unique())
print ('occupation: ') 
print (populationDF["occupation"].unique())
print ('relationship: ')
print (populationDF["relationship"].unique())
print ('race: ')
print (populationDF["race"].unique())
print ('gender: ') 
print (populationDF["gender"].unique())
print ('native_country: ')
print (populationDF["native_country"].unique())
print ('income: ')
print (populationDF["income"].unique())

emp type:
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
marital_status:
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
occupation:
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']
relationship:
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
race:
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
gender:
[' Male' ' Female']
native_country:
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
income:
[' <=50K' ' >50K']

In [6]:
#  Perform the actual re-classification.

#Create dictionaries and re-assign
empType = {' State-gov':1, ' Self-emp-not-inc':2, ' Private':3, ' Federal-gov':4, ' Local-gov':5, ' ?':6, ' Self-emp-inc': 7, ' Without-pay':8, ' Never-worked':0}
populationDF.emp_type = [empType[item] for item in populationDF.emp_type]

maritalStatus = {' Never-married':1, ' Married-civ-spouse':2, ' Divorced':3, ' Married-spouse-absent':4, ' Separated':5, ' Married-AF-spouse':6 , ' Widowed':0}
populationDF.marital_status = [maritalStatus[item] for item in populationDF.marital_status]

occupationType = {' Adm-clerical':1, ' Exec-managerial':2, ' Handlers-cleaners':3, ' Prof-specialty':4, ' Other-service':5, ' Sales':6, ' Craft-repair':7, ' Transport-moving':8, ' Farming-fishing':9, ' Machine-op-inspct':10, ' Tech-support':11, ' ?':0, ' Protective-serv':12, ' Armed-Forces':13, ' Priv-house-serv':14}
populationDF.occupation = [occupationType[item] for item in populationDF.occupation]

relationshipType = {' Not-in-family':0, ' Husband':2, ' Wife':1, ' Own-child':3, ' Unmarried':4, ' Other-relative':5}
populationDF.relationship = [relationshipType[item] for item in populationDF.relationship]

raceType = {' White':0, ' Black':1, ' Asian-Pac-Islander':2, ' Amer-Indian-Eskimo':3, ' Other':4}
populationDF.race = [raceType[item] for item in populationDF.race]

genderType = {' Male':0, ' Female':1}
populationDF.gender = [genderType[item] for item in populationDF.gender]

countryType = {' United-States':4, ' Cuba':1, ' Jamaica':2, ' India':3, ' ?':0, ' Mexico':5, ' South':6, ' Puerto-Rico':7, ' Honduras':8, ' England':9, ' Canada':10, ' Germany':11, ' Iran':12, ' Philippines':13, ' Italy':14, ' Poland':15, ' Columbia':16, ' Cambodia':17, ' Thailand':18, ' Ecuador':19, ' Laos':20, ' Taiwan':21, ' Haiti':22, ' Portugal':23, ' Dominican-Republic':24, ' El-Salvador':25, ' France':26, ' Guatemala':27, ' China':28, ' Japan':29, ' Yugoslavia':30, ' Peru':31, ' Outlying-US(Guam-USVI-etc)':32, ' Scotland':33, ' Trinadad&Tobago':34, ' Greece':35, ' Nicaragua':36, ' Vietnam':37, ' Hong':38, ' Ireland':39, ' Hungary':40, ' Holand-Netherlands':41}
populationDF.native_country = [countryType[item] for item in populationDF.native_country]

incomeType = {' <=50K':0, ' >50K':1}
populationDF.income = [incomeType[item] for item in populationDF.income]

# Drop the education column as we have the edu_num column already,
populationDF = populationDF.drop('education', axis = 1)

# verify values were hcanged sucessfully 
print (populationDF.head)

<bound method NDFrame.head of        age  emp_type  number  ed_num  marital_status  occupation  \
0       39         1   77516      13               1           1
1       50         2   83311      13               2           2
2       38         3  215646       9               3           3
3       53         3  234721       7               2           3
4       28         3  338409      13               2           4
...    ...       ...     ...     ...             ...         ...
32556   27         3  257302      12               2          11
32557   40         3  154374       9               2          10
32558   58         3  151910       9               0           1
32559   22         3  201490       9               1           1
32560   52         7  287927       9               2           2

       relationship  race  gender  capital_gain  capital_loss  hours_per_week  \
0                 0     0       0          2174             0              40
1                 2     0       0             0             0              13
2                 0     0       0             0             0              40
3                 2     1       0             0             0              40
4                 1     1       1             0             0              40
...             ...   ...     ...           ...           ...             ...
32556             1     0       1             0             0              38
32557             2     0       0             0             0              40
32558             4     0       1             0             0              40
32559             3     0       0             0             0              20
32560             1     0       1         15024             0              40

       native_country  income
0                   4       0
1                   4       0
2                   4       0
3                   4       0
4                   1       0
...               ...     ...
32556               4       0
32557               4       1
32558               4       0
32559               4       0
32560               4       1

[32561 rows x 14 columns]>

Data cleanup complete.

Starting actual analysis.

In [7]:
#Set up the depent and independent arrays
x = populationDF.drop('income', axis = 1)
y = populationDF['income']

#Set up the training 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20)

In [ ]:
# SVM Model
from sklearn.svm import SVC
svclassifier = SVC(kernel='poly', degree=3) 
svclassifier.fit(x_train, y_train)
y_pred_svc = svclassifier.predict(x_test)

/home/izzy/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
# Report results for all models
from sklearn.metrics import classification_report, confusion_matrix

print (confusion_matrix(y_test,y_pred_svc))
print (classification_report(y_test,y_pred_svc))